<div>
  <h5>Cadastre seu email aqui</h5>
  <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()" autocomplete="off" novalidate class="container-form">
    <div>
      <label for="name" >Nome</label>
      <input type="text"
        id="name"
        placeholder="Informe seu nome"
        formControlName="name"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
      />
      @if (submitted && f['name'].errors) {
        <div class="invalid-feedback">
          @if (f['name'].errors['required']) {
          <div>É obrigatório informar um nome</div>
          }
          @if (f['name'].errors['minLength']) {
            <div>O nome deve ter no mínimo 3 caracteres</div>
            }
        </div>
        }
    </div>
    <div>
      <label for="email">Email</label>
      <input
        type="text"
        id="email"
        placeholder="Informe seu email"
        formControlName="email"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
      />
      @if (submitted && f['email'].errors) {
        <div class="invalid-feedback">
          @if (f['email'].errors['required']) {
          <div>É obrigatório informar um email</div>
          }
        </div>
        }
    </div>
    <button type="submit" [disabled]="!cadastroForm.valid">Enviar</button>
  </form>
</div>

